@media screen and (width >=320px) {
	#some-id {
		color: red;
	}
}

@media screen and (width >=500px) {
	#some-id {
		color: red;
	}
}


.navbar-item {
	box-sizing: border-box;
	margin: 10px;
	outline: 1px solid black;
	display: inline-block;

}

.equipment-item {
	box-sizing: border-box;
	margin: 10px;
	outline: 1px solid black;
	display: inline-block;
}

.Macro-Item {
	box-sizing: border-box;
	margin: 5px;
	display: inline-block;
	flex-wrap: wrap;
}
